@font-face {
  font-family: 'Metropolis-Regular';
  src: local('Metropolis-Regular'), url(/fonts/Metropolis-Regular.otf);
}
@font-face {
  font-family: 'Metropolis-Black';
  src: local('Metropolis-Black'), url(/fonts/Metropolis-Black.otf);
}
@font-face {
  font-family: 'Metropolis-Light';
  src: local('Metropolis-Light'), url(/fonts/Metropolis-Light.otf);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Metropolis-Regular, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.cabeza {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: transparent;
  padding: 20px;
  padding-left: 30px;
}

.navegacion {
  position: fixed;
  bottom: 0;
  list-style: none;
  width: 100%;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.navegacion ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f2f2f2;
  border-top: 1px solid #f5f5f5;
  box-shadow: 0 0 10px #333;
}

.navegacion ul li a {
  display: block;
  padding: 10px 10px;
  transition: all 1s;
  font-weight: 100;
  color: #777;
}

.navegacion ul li a:hover {
  background: #040d22;
  color: #fff;
  text-decoration: none;
}

.navegacion ul li ul.submenu {
  display: none;
}

.navegacion ul li:hover ul.submenu {
  display: block;
  position: absolute;
  top: -40px;
}

.navegacion ul li ul.submenu li {
  position: relative;
  float: left;
}

.navegacion ul li ul.submenu a {
  display: block;
}

.card {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: none;
  flex: 1 1 0px;
}

.cajaImagen {
  width: 100%;
  height: 100px;
}

.card-img-top {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

h2.titularG {
  text-transform: uppercase;
  
}

h3.titularG {
  text-transform: uppercase;
  color: #f2f2f2;
}

p.card-text {
  font-family: Metropolis-Light, sans-serif;
  font-size: 0.8rem;
  color: #777;
}

p.titularG {
  text-align: justify;
  padding-left: 20px;
}

form.contacto {
  width: 90%;
}

form.contacto input {
  border-radius: 0;
  background: #333333;
  color: #fff;
}

form.contacto button {
  border-radius: 0;
  float: right;
}

.icon1 {
  cursor: pointer;
}

.icon1.dasein_logo {
  width: 115px;
  height: 120px;
}

.fourth-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  text-align: center;
  background: url(/images/baber.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .navegacion ul li a {
    font-size: 0.3rem;
  }
  .card {
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: none;
    flex: 1 1 0px;
  }
  .cajaImagen {
    width: 100%;
    height: 50px;
  }
  h2.titularG {
    font-size: 0.8rem;
  }
  .icon1.dasein_logo {
    width: 60px;
    height: 60px;
  }
}